@model IEnumerable<MOH.Common.Data.PersonModels.PersonModel>

@{
    ViewData["Title"] = "ნუსხა";
}

<h1>ნუსხა</h1>

<p>
    <a asp-action="Create">რეგისტრაცია</a>
</p>

@await Html.PartialAsync("SearchPartial", new MOH.Common.Data.PersonModels.SearchPersonModel())

<div class="row">
    <div class="col-md-6">ნაპოვნი ჩანაწერები: <b>@Model.Count()</b></div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <form asp-action="DeactivateAll" method="post">
            <input type="submit" class="btn btn-danger" value="დუბლიკატები" />
        </form>
    </div>
</div>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrivateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemoveDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (!item.IsActive) { <text> class="text-danger" </text> }>
                <td>
                    @Html.DisplayFor(modelItem => item.PrivateNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemoveDate)
                </td>

                <td>
                    @if (item.IsActive)
                    {
                        <text>
                            <a asp-action="Edit" asp-route-id="@item.ID">რედაქტირება</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">გაუქმება</a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
